h1{
    font-size: 20px;
    font-weight: bold;
}


table{
    width: 60%;
    text-align: center;
    background-color: white;
    border-radius: 0.375rem;
}
th{
    border-bottom: 1px rgb(220, 214, 214) solid;
    padding-bottom: 4px;
}
button{
    background-color: white;
    border: none;
}

.title{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.noresultblock{
    color: red;
    background-color: white;
    width: max-content;
    padding: 3px;
    font-size: 20px;
}