nav {
    background: none;
}

.navbar .navbar-nav {
    margin: 10px;
  }
.active {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
nav .navbar-nav li a{
    color: black;
    font-size: 15px;
}
.nav-item {
    text-align: center;
    display: inline;
} 